###################################
# KEEP THIS OUT OF YOUR VCS / SCM #
###################################
nite:
    queue:
        amqp:
            exchange_topic: rabbitmq-exchange-topic #REQUIRED
            exchange_fanout: rabbitmq-exchange-fanout # REQUIRED
            host: rabbitmq:5672 # REQUIRED
            user: rabbitmq-user # REQUIRED
            password: rabbitmq-password #REQUIRED
            virtual_host: /rabbitmq-vhost # REQUIRED
